.colorWindow__container {
    width: 30vw;
    height: 400px;
    border: 2px solid black;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: shrink;
    animation-duration: 0.3s;
}

.colorWindow__container:hover .colorWindow__text{

    visibility: visible;
}

.colorWindow__container:hover {
    background-color: black;
    animation-name: grow;
    animation-duration: .3s;
    transform: scale(1.2);
    cursor: pointer;
    z-index: 69;
}
@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes shrink {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}
.colorWindow__text {
    visibility: hidden;
    color: white;
}

.colorWindow__input {
    height: 50px;
    width: 50px;
    z-index: 69;
    /* margin-bottom: 50px; */
}

.colorWindow__Title {
    text-align: center;
}

.inputContainer {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 50px;
}

.colorWindow__randomBtn {
    padding: 10px;
    border-radius: 10px;
    animation-name: shrink;
    animation-duration: .1s;
    cursor: pointer;
    background-color: #85d29b;
}

.colorWindow__randomBtn:active {
    background-color: #13a3ee;
    transform: scale(1.1);
    animation-name: grow;
    animation-duration: .1s;
}

.colorWindow__randomBtn:hover {
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}