.colorWindow__container {
    width: 300px;
    height: 400px;
    background-color: blue;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorWindow__container:hover .colorWindow__text{

    visibility: visible;
}

.colorWindow__container:hover {
    background-color: black;
    animation-name: grow;
    animation-duration: .3s;
    transform: scale(1.2);
    cursor: pointer;
}
@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.colorWindow__text {
    visibility: hidden;
    color: white;
}

