.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #92d3ff;
    height: 15vh;
}

.nav__container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}