.colorDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #2660a1;
    height: 85vh;
    margin: 0px;
}

.randomBtn {
    padding: 20px;
    /* background-image: linear-gradient(45deg,#446b61,#dad29d);
    animation-name: moveit;
    animation-duration: 1s; */
    background: linear-gradient(-45deg, #9221d5, #e73c7e, #6249ef, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #f4e1e5;

}

.randomBtn:hover {
    background-image: linear-gradient(95deg,#f33e88,#8df75e);
    color: black;
    box-shadow: 5px 5px 5px 1px #131824;
}

.randomBtn:active {
    transform: scale(1.2);
    animation: grow 100ms;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

@keyframes shrink {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}